$clr_Neutral-900: hsl(227, 75%, 14%);
$clr_Neutral-800: hsl(226, 25%, 17%);
$clr_Neutral-700: hsl(225, 23%, 24%);
$clr_Neutral-600: hsl(226, 11%, 37%);
$clr_Neutral-300: hsl(0, 0%, 78%);
$clr_Neutral-200: hsl(217, 61%, 90%);
$clr_Neutral-100: hsl(0, 0%, 93%);
$clr_Neutral-0: hsl(200, 60%, 99%);

$clr_Red-700: hsl(3, 77%, 44%);
$clr_Red-500: hsl(3, 71%, 56%);
$clr_Red-400: hsl(3, 86%, 64%);

$clr_Light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
$clr_Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$ff-NotoSan: 'Noto Sans', sans-serif;
